---
layout: home
title: SPGN
description: The Irish Planning INstitute Conference is heading north of the Border to Belfast 25th-26th April, be the first to hear when the paper titles are published and registration opens!
custom_img: "false"
---

 
 
 <div class="large-12 columns" role="content" style="margin-top:8em;">
      <article>
 		<div class="row">
			<div class="large-8 columns">
					{% assign posts_group_list = site.posts %}
					{% include main_posts_list %}				
			</div>
			<div class="large-4 columns"> <!-- large-offset-1 -->
				<div class="large-11 columns large-offset-1">
				<section class="other-posts">
					<ul>
						{% assign other_posts_list = site.posts %}
						{% include other_posts %}
					</ul>
				</section>
				</div>
				<!--<div class="panel callout">
					<h4 class="light">Share</h4>
					<a href="#" class="fc-webicon facebook round">Like us on Facebook</a>
					<a href="#" class="fc-webicon twitter round">Follow us on Twitter</a>
					<a href="#" class="fc-webicon linkedin round">Add us on LinkedIn</a>
					<a href="#" class="fc-webicon youtube round">Subscribe to us on YouTube</a>
					<a href="#" class="fc-webicon pinterest round">Subscribe to us on YouTube</a>
					<a href="#" class="fc-webicon github round">Subscribe to us on YouTube</a
				</div>-->
				<div class="row">
			 	  	<div class="large-12 columns">
			 	  		<a href="{{site.baseurl}}/all" class="button right radius">All Posts &rarr;</a>
			 	  	</div>
			 	  </div>
	         </div>
			
		</div>
      </article>
</div>

<div class="funny-bg" style="background:#222;">
	<div class="large-12 columns" role="content">
	      <hr />


			<div class="row groups">
		 	  	<div class="large-2 columns panel">
					<h3>Planning</h3>
					<p>Get involved in the new discussion shaping Irelands spatial future.</p>
				</div>
				<div class="large-10 columns">
		<!-- Using only the large-block-grid -->
				<ul class="large-block-grid-4">
					
					{% include planning_posts %}
			  		<!--<li class="subheader"><img src="http://placehold.it/300x150"><p>Bacon ipsum dolor sit amet nulla ham qui sint.The Myth of Self-certification of Buildings</p><small class="right">MAR 05 2013</small></li>
			  		<li class="subheader"><img src="http://placehold.it/300x150"><p >Bacon ipsum dolor sit amet nulla ham qui sint.The Myth of Self-certification of Buildings</p><small class="right">MAR 05 2013</small></li>
			  		<li class="subheader"><img src="http://placehold.it/300x150"><p>Bacon ipsum dolor sit amet nulla ham qui sint.The Myth of Self-certification of Buildings</p><small class="right">MAR 05 2013</small></li>
			  		<li class="subheader"><img src="http://placehold.it/300x150"><p>Bacon ipsum dolor sit amet nulla ham qui sint.The Myth of Self-certification of Buildings</p><small class="right">MAR 05 2013</small></li>-->
				</ul>
				</div>
			</div>
			<div class="row groups">
				
		 	  	<div class="large-2 columns panel">
					<h3>CPD</h3>
					<p>SPGN run CPD to keep up your CPD points and learn something new.</p>
				</div>
				<div class="large-10 columns">
		<!-- Using only the large-block-grid -->
				<ul class="large-block-grid-4">
			  	<!--	<li class="subheader"><img src="http://placehold.it/300x150"><p>Bacon ipsum dolor sit amet nulla ham qui sint.The Myth of Self-certification of Buildings</p><small class="right">MAR 05 2013</small></li>
			  		<li class="subheader"><img src="http://placehold.it/300x150"><p>Bacon ipsum dolor sit amet nulla ham qui sint.The Myth of Self-certification of Buildings</p><small class="right">MAR 05 2013</small></li>
			  		<li class="subheader"><img src="http://placehold.it/300x150"><p>Bacon ipsum dolor sit amet nulla ham qui sint.The Myth of Self-certification of Buildings</p><small class="right">MAR 05 2013</small></li>
			  		<li class="subheader"><img src="http://placehold.it/300x150"><p>Bacon ipsum dolor sit amet nulla ham qui sint.The Myth of Self-certification of Buildings</p><small class="right">MAR 05 2013</small></li>
			-->
				
				{% include cpd_posts %}
				</ul>
				</div>
			</div>
	</div>	
</div>
