<!-- Footer -->
 
  <footer class="row ">
    <div class="large-12 columns last-row">
      
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; 2013 SPGN All rights reserved.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="{{site.baseurl}}/about">About</a></li>
            <li><a href="http://www.dit.ie">DIT</a></li>
            <li><a href="http://www.dit.ie/spatialplanning/environment/">Spatial Planning School</a></li>
          </ul>
        </div>
      </div>
    </div>
	
  </footer>
