<!-- Header and Nav -->
<div class="contain-to-grid">
	
	<div class="show-for-small">
		<div class="small-12 columns text-center">
			<img src="{{site.baseurl}}/img/spgn_logo.jpg" style="height:120px; margin-top:1em;" />
		</div>
	</div>
	
<nav class="top-bar">
  <ul class="title-area">
      <!-- Title Area -->
   
      <li class="name">
	<div class="hide-for-small">
        <h1>
          <a href="{{site.baseurl}}/">
            <img src="{{site.baseurl}}/img/spgn_logo.jpg" style="height:120px; margin-top:1em;" />
          </a>
        </h1>
	</div>
      </li>
   
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>	
	
    
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <!--<li class="divider"></li>-->
        <li class="">
          <a href="{{site.baseurl}}/about">About</a>
          <!--<ul class="dropdown">
            <li><label>Section Name</label></li>
            <li class="has-dropdown">
              <a href="#" class="">Has Dropdown, Level 1</a>
              <ul class="dropdown">
                <li><a href="#">Dropdown Options</a></li>
                <li><a href="#">Dropdown Options</a></li>
                <li class="has-dropdown">
                  <a href="#">Has Dropdown, Level 2</a>
                  <ul class="dropdown test">
                    <li><a href="#">Subdropdown Option</a></li>
                    <li><a href="#">Subdropdown Option</a></li>
                    <li><a href="#">Subdropdown Option</a></li>
                  </ul>
                </li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><label>Section Name</label></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all &rarr;</a></li>
          </ul>
			-->        
		</li>
        <!--<li class="divider"></li>-->
        <li><a href="#">Events</a></li>
        <!--<li class="divider"></li>-->
        <li><a href="#">Search</a></li>
        <!--<li class="divider"></li>-->
        <li class="">
          <a href="{{site.baseurl}}/feed.xml">Feed</a>

        </li>
      </ul>
    </section>
  
</nav>
</div>
 
  <!-- End Header and Nav -->