.top-bar .name h1 { line-height:90px; }
h3 a {color:#333;}
h3 {line-height:1;}
.post {padding-bottom:4.8em;}
ul.tags {list-style-type:none;}
.splash {
border-bottom:10px solid #1AA8A3;
background-size: cover;
background-position: 50% 0%;
background-repeat: no-repeat;
padding-top: 240px;
margin-top:-0em; /*-1.875em*/
margin-bottom:2.875em;
}
a.th {border-bottom:2px solid white;} /*to fix the issue with the bottom being 2 px lower that everything else*/
.links-row {font-size:14px;}

.footer-grey {
	background-color: #f5f5f5;
	background-image: url(../img/footer-shadow.gif);
	background-repeat: no-repeat;
	background-position: top center;
/*	margin-top: 40px;  */
}

#spgn-about, #spgnews-sub , #recent-posts {padding-top:30px;}
.last-row {font-size:13px; color:#555;padding: 1em 0;}
.last-row a {text-decoration:underline !important;color:#555;}
.all-posts li {border-top: 3px solid #ccc;padding-top:10px;font-size:13px;border-right:1px dotted #CCC}

.all-posts .thumb, .other-posts li .thumb {
width: 100%;
height: 100px;
margin: 0px 0px 10px;
box-shadow: inset rgba(0,0,0,.25) 0px 0px 40px;
-moz-box-shadow: inset rgba(0,0,0,.25) 0px 0px 40px;
-webkit-box-shadow: inset rgba(0,0,0,.25) 0px 0px 40px;
}
.thumb {
overflow: hidden;
text-indent: -999px;
display: block;
background: #fff 50% 50% no-repeat;
}
.pagination {margin-bottom:3em;}
.pagination a {
	background:#1AA8A3;
	padding:30px;
	border-right:1px solid #fff;
	color:#fff;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}
.pagination a:hover {background:#000;color:#1AA8A3;}
.pagination a:last-child {
border-right: 0px;
border-radius:0px 10px 10px 0px;
-moz-border-radius:0px 10px 10px 0px;
}
.pagination a:first-child {
border-radius:10px 0px 0px 10px;
-moz-border-radius:10px 0px 0px 10px;
}
.contain-to-grid {background:#003DBA;border-bottom: 1px solid #CCC; box-shadow: 0 3px 4px rgba(0, 0, 0, 0.17);}
.top-bar {background:transparent;}
.other-posts {font-size:12px;}
.other-posts p {margin-bottom:0;}
.other-posts ul {list-style-type:none;}
.other-posts li {padding-bottom:3em;}
.other-posts .title {font-weight:bold;color:#333;}
.other-posts .title:hover {text-decoration:underline;}

.groups li p {font-size:13px;}
